/* --- Navbar --- */

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.navbar-custom .nav li a {
  font-size: 14px;
  letter-spacing: 1px;
  display:inline;
  opacity: .8;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  display:inline-block;
  font-weight: 230;
  color: #787878;
    border-radius: 5px;
}

.navbar-custom .navbar-brand:hover 
.navbar-custom .navbar-brand:focus,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #000;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 8px 0 0px;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0px;
      padding-top: 5px;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 5%;
  width: 50px;
  margin-top: 0px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 0%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 0%;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }
  
  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }
  
  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

.navbar-custom .rectangle-container {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
    top: 0%;
  position: absolute;
}

.navbar-custom .rectangle-container  .rectangle-border {
  width: 100%;
  left: -15px;
  position: absolute;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.navbar-custom .rectangle-container .rectangle {
  float: left;
    width:16.8%;
    height:8px;
    background: #DAE657;
}
.navbar-custom .rectangle-container .rectangle1 {
  float: left;
    width:16.8%;
    height:8px;
    background:#01B3A5;
}
.navbar-custom .rectangle-container .rectangle2 {
  float: left;
    width:16.8%;
    height:8px;
    background:#DF2460;
}
.navbar-custom .rectangle-container .rectangle3 {
  float: left;
    width:16.8%;
    height:8px;
    background:#F5775F;

}
.navbar-custom .rectangle-container .rectangle4 {
  float: left;
    width:16.8%;
    height:8px;
    background:#9EAE2F;
}
.navbar-custom .rectangle-container .rectangle5 {
  float: left;
    width: 16%;
    height:8px;
    background:#04B0DA;

}

.navbar-custom.top-nav-short .rectangle-container{
  opacity: .55;
}

.navbar-custom.top-nav-expanded .rectangle-container  {
  display: none;
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: 250;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #c5c5c5;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
      background: #c5c5c5;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container:hover {
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
	text-align: center;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid white;
    border-width: 0 1px 1px;
  }
}
