.project_entry_container_left{
	height:300px;
	width:90%;
	margin: 5%

}

.project_entry_image_left{
	float:left;
	display:block;
	height: auto; 
    width: 29%; 
    max-width: 300px; 
    max-height: 300px;
    margin:0.5%;
    text-align: left;
}

.project_entry_text_left{
	float:left;
	display:block;
	width:70%;
	height:auto;
	text-align: left;
	background: rgb(200, 249, 253); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(200, 249, 253,0), rgba(200, 249, 253,1)); /*Standard*/
}

.project_entry_text_left{
	text-align: left;
}

.project_entry_container_right{
	height:300px;
	width:90%;
	margin: 5%
}

.project_entry_image_right{
	float:right;
	display:block;
	height: auto; 
    width: 29%; 
    max-width: 300px; 
    max-height: 300px;
    margin:0.5%;
}

.project_entry_text_right{
	float:right;
	display:block;
	text-align: left;
	width:70%;
	height:auto;
	background: rgb(200, 249, 253); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(200, 249, 253,0),rgba(200, 249, 253,1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(200, 249, 253,0), rgba(200, 249, 253,1)); /*Standard*/
}
.project_entry_text_right h3{
	text-align: right;
}