h1 {
    font-size: 250%;
    text-shadow: 3px 3px #000;
}

.slide {
  position: relative;
  padding: 10vh;
  height: 65vh;
  width: 100%;
  box-sizing: border-box;
	transform-style: inherit;
    top: -6vh;
}


.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
   background-image: url(../img/filtered-visualization.png);
   background-attachment: fixed;
  padding-top: 12vh;
   position:relative;
}

#about-slide {
  background-image: url(../img/meeting.jpg);
  background-attachment: fixed;
  position:relative;
}

#slide2 {
  background-image: url(../img/DataWeek.jpg);
  /*background-attachment: local;

  width: 100%;*/
   display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; 
}

#slide3:before {
  background-image: url("http://lorempixel.com/640/480/abstract/5/");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}
