.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
	transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 3%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url(../img/DSC00249.JPG);
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.003.jpeg);
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.002.jpeg);
  background-attachment: fixed;
}

#slide3:before {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.004.jpeg);
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background-color: #003262;
  background-attachment: fixed;
}

#about-slide {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.002.jpeg);
   background-attachment: fixed;  
}

#academics {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.003.jpeg);
   background-attachment: fixed;  
}

#acaSlide {
  background: #00BFFF;
   background-attachment: fixed;  
}

#data8Slide1 {
  background-image: url(../img/Berkeley%20Data%20Connect%20Photos.003.jpeg);
   background-attachment: fixed;  
}

#data8Slide2 {
  background: #00BFFF;
  background-attachment: fixed;  
}
#data8Slide3 {
  background: #9E7BFF;
  background-attachment: fixed;  
}
#data8Slide4 {
  background: #6AFB92;
  background-attachment: fixed;  
}
.container {
    position: relative;
    width: 1000px;
}
.container div {
    height: 175px;
}

.column-left {
    width: 33%;
    left: 0;
    position: absolute;
}
.column-center {
    width: 34%;
    margin-left: 33%;
    position: absolute;
}
.column-right {
    width: 33%;
    right: 0;
    position: absolute;
}