circle.node {
  cursor: pointer;
  stroke: #CCCCCC;
  stroke-width: 0px;
  box-sizing: border-box;
  stroke-location: inside;
}

text.title {
  font: 13px tahoma;
}

line.link {
  fill: none;
  stroke: #C1C1C1;
  stroke-width: 1px;
}

.container .box {
  float: left;
  width: 150px;
  margin: 20px;
}

.container .box .top {
  padding: 12px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.container .box .bottom {
  padding: 12px;
  background-color: red;
  color: white;
  display: none;
}
